*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: rgb(241, 231, 250);
}

.center{
    margin: 0 auto;
    
}

section{
    border-radius: 8px;
    width: 40%;
    padding: 30px 20px;
    background: rgb(188, 10, 233);
    color: white
}

h1{
    text-align: center;
    margin-bottom: 30px;;
}

.peso, .altura, #resultado{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}

input{
    border-radius: 5px;
    width: 100px;
    height: 25px;
    padding-left: 10px;
    
}

button{
    background: #faaaff;
    width: 100px;
    height: 25px;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 600;
}

.botoes{
    text-align: center;
}

#resultado{
    text-align: center;
}

#imc{
    border: 2px solid #951ff5;
    padding-top: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background: rgb(194, 167, 167);
    color:rgb(78, 41, 112)
}

#resposta{
    margin-top: 10px;
    text-align: center;
}

.conteudo{
    padding: 30px 0;
    width: 70%;
    margin: 0 auto;
    color:rgb(40, 8, 70)
}

.conteudo h2{
    margin: 15px 0;
    color: #9c07a7;
}

.conteudo p, li{
    margin: 15px 0;
}

li{
    margin-left: 30px;
}
